<!DOCTYPE html>
<html lang="en" data-theme="dim">
<head>
  <meta charset="UTF-8">
  <title>Happenings Archive Search</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5.1.25/daisyui.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5.1.25/themes.min.css" rel="stylesheet">
  <style>
      .constraint-box {
        display: none;
        margin-left: 1.75rem;
        margin-top: .5rem;
        padding: .75rem;
        border-left: 3px solid var(--color-primary);
        background: var(--fallback-b2);
      }

      .category-box input[type="checkbox"]:checked ~ .constraint-box {
        display: block;
      }
  </style>
</head>
<body>
  <div class="bg-base-100 border-base-300 p-6" id="time-content">
    <fieldset class="fieldset">
      <label class="label">
        <input type="checkbox" class="toggle" id="live-toggle" />
        Show live happenings
      </label>

      <div id="history-settings">
        <legend class="fieldset-legend">Sort by</legend>
        <select id="direction-select" class="select">
        <option value="desc">Newest first</option>
        <option value="asc">Oldest first</option>
        </select><br>

        <legend class="fieldset-legend" id="anchor-mode">Only match happenings before time:</legend>
        <div class="join">
          <input id="anchor-time" type="datetime-local" class="input join-item">
          <button class="btn btn-warning join-item" id="reset-time">Clear Time</button>
        </div>
      </div>
    </fieldset>

    <div class="join mt-5">
      <button class="btn btn-secondary join-item" onclick="settings_modal.showModal()" id="filters">Edit Filters</button>
      <button id="search" class="btn btn-primary join-item query-element">Search</button>
    </div>
  </div>
  
  <div class="divider"></div>

  <dialog id="settings_modal" class="modal">
    <div class="modal-box !w-7/8 !max-w-none !h-5/6 !max-h-none">
      <div class="tabs tabs-lift">
        <input type="radio" name="settings-tab" class="tab" id="nation-tab" aria-label="Nations" checked />
        <div class="tab-content bg-base-100 border-base-300 p-6" id="nation-content">
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Nations to match</legend>
            <textarea class="textarea" id="nation-select" placeholder="One nation per line" />
          </fieldset>

          <br><button class="btn btn-warning" id="reset-nation">Clear Nations</button>
        </div>

        <input type="radio" name="settings-tab" class="tab" id="region-tab" aria-label="Regions" />
        <div class="tab-content bg-base-100 border-base-300 p-6" id="region-content">
          <fieldset class="fieldset">
            <legend class="fieldset-legend">Regions to match</legend>
            <textarea class="textarea" id="region-select" placeholder="One region per line" />
          </fieldset>

          <br><button class="btn btn-warning" id="reset-region">Clear Regions</button>
        </div>

        <input type="radio" name="settings-tab" class="tab" id="category-tab" aria-label="Categories" />
        <div class="tab-content bg-base-100 border-base-300 p-6" id="category-content">
          <h3 id="category-count" class="font-bold text-primary px-2">Categories Selected: All</h3><br>
          <div class="tabs tabs-box">
            {%- for group in activity_groups %}
            <input type="radio" name="inner-tab" class="tab" aria-label="{{ group.label }}" {% if loop.index0 == 0 %}checked{% endif %}/>
            <div class="tab-content bg-base-100 border-base-300 p-6 category-box">
            {%- for item in group.items %}
            <label><input type="checkbox" data-event="{{ item.event }}"> {{ item.label }}{% if item.ext %}<div class="constraint-box">{{ item.ext|safe }}</div>{% endif %}</label><br>
            {% endfor -%}
            </div>
            {% endfor -%}
          </div>

          <br><button class="btn btn-warning" id="reset-category">Reset Categories</button>
        </div><br>
      </div>

      <div class="modal-action">
        <button class="btn btn-warning" id="reset-all">Clear All Filters</button>
        <form method="dialog">
          <button class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </dialog>

  <div class="flex flex-col justify-center items-center">
    <div id="live-status" class="mt-8 mx-16 text-red-600" style="display: none;"><p>🔴 Showing Live Happenings</p></div>
    <div id="results" class="my-8 mx-16"></div>
    <button id="load-more" class="btn btn-outline mb-4 query-element" style="display: none;">Load more...</button>
    <button id="export" class="btn btn-secondary mb-8 query-element" style="display: none;">Export Results as JSON</button>
  </div>

  <script src="/js/format.js"></script>
  <script src="/js/ext.js"></script>
  <script src="/js/load.js"></script>
  <script src="/js/ui.js"></script>
</body>
</html>